.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
    width: 100%;
}
.nav-logo {
  width: 150px;
}
.nav-profile {
  width: 50px;
}
@media (min-width: 600px) {
  .nav-logo {
    width: 180px;
  }
  .nav-profile {
    width: 65px;
  }
}
@media (min-width: 1024px) {
  .nav-logo {
    width: 200px;
  }
  .nav-profile {
    width: 75px;
  }
}
